@page "/events/discovery"

@{
    CultureInfo nigeriaCulture = new CultureInfo("en-NG");
    nigeriaCulture.NumberFormat.CurrencySymbol = "₦";
    Thread.CurrentThread.CurrentCulture = nigeriaCulture;
    Thread.CurrentThread.CurrentUICulture = nigeriaCulture;
}


<PageTitle>Iv's - Discovery</PageTitle>

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large" Style="background-color:white">

    <br /><br />

    <MudGrid Spacing="6">

        @if (_LatestEventProcessing)
        {
            <MudItem xl="9" xxl="9" lg="9" md="9" sm="12" xs="12">
                <MudSkeleton Height="152px;" />
            </MudItem>
        }
        else
        {
            <MudItem xl="9" xxl="9" lg="9" md="9" sm="12" xs="12">
                <MudCarousel Class="mud-width-full" Style="height:465px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" AutoCycleTime="@autoCycleTime" TData="object">
                    @if (_latestEvents.Any())
                    {
                        foreach (var e in _latestEvents.Take(4))
                        {
                            var ticketLink = $"/events/get-tickets/{e._id}";

                            <MudCarouselItem Transition="transition">
                                <div class="d-flex" style="height:100%">

                                    <MudGrid Spacing="0">

                                        <MudItem xl="8" xxl="8" lg="8" md="8" sm="12" xs="12">
                                            <MudImage Src="@e.eventImagePath" Style="height:100%; width:100%" Alt="@e.eventName" />
                                        </MudItem>

                                        <MudItem xl="4" xxl="4" lg="4" md="4" sm="12" xs="12" Style="background-color:#f3dff66b; padding:30px;">

                                            <div id="trending-title" class="text-left"> Trending Events</div>

                                            <br />

                                            <div style="font-size: 14px"><b>@e.eventName</b></div>
                                            <br />
                                            <div style="line-height: 20px">
                                                <div>@e.eventAddress</div>
                                                <br />

                                                @if (e.eventTimes.Any())
                                                {
                                                    <div>  @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy") </div>
                                                    <br />
                                                }

                                                @if (e.eventTimes.Any())
                                                {
                                                    <div>  @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("hh tt") </div>
                                                    <br />
                                                }

                                                @if (e.eventTickets.Any())
                                                {
                                                    <div>@e.eventTickets.Count Ticket(s)</div>
                                                    <br />
                                                    @if (e.paymentOptions.Count > 1)
                                                    {
                                                        var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                        <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Secondary"><b>@amount.ToString("C") +</b></MudText>
                                                    }
                                                    else
                                                    {
                                                        var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                        <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Secondary"><b>@amount.ToString("C")</b></MudText>
                                                    }
                                                }

                                            </div>

                                            <br /><br />

                                            <center>
                                                <MudButton Variant="Variant.Filled" id="btnDarkColor" Target="_blank" Href="@ticketLink" Size="Size.Large">
                                                    Get Your Ticket
                                                </MudButton>
                                            </center>

                                        </MudItem>
                                    </MudGrid>

                                </div>
                            </MudCarouselItem>
                        }
                    }
                </MudCarousel>
            </MudItem>

        }


        <MudItem xl="3" xxl="3" lg="3" md="3" sm="12" xs="12">

            @if (_freeEventProcessing)
            {
                <MudItem xl="9" xxl="9" lg="9" md="9" sm="12" xs="12">
                    <MudSkeleton Height="120px;" />
                </MudItem>
            }
            else
            {
                @if (_freeEvent.Any())
                {
                    foreach (var e in _freeEvent.Take(1))
                    {
                        var ticketLink = $"/events/get-tickets/{e._id}";

                        <MudCard Elevation="10">
                            <MudCardMedia Image="@e.eventImagePath" Height="150" />
                            <MudCardContent>
                                <div style="font-size: 14px"><b>@e.eventName</b></div>
                                <br />
                                <div style="line-height: 15px">
                                    <div> <MudIcon Icon="@Icons.Material.Filled.LocationOn" Size="Size.Small" Color="Color.Secondary" /> @e.eventAddress</div>
                                    <br />

                                    @if (e.eventTimes.Any())
                                    {
                                        <div>  <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" Size="Size.Small" Color="Color.Secondary" />  @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy") </div>
                                        <br />
                                    }

                                    @if (e.eventTimes.Any())
                                    {
                                        <div> <MudIcon Icon="@Icons.Material.Filled.Timer" Size="Size.Small" Color="Color.Secondary" /> @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("hh tt") </div>
                                        <br />
                                    }

                                    @if (e.eventTickets.Any())
                                    {
                                        <div><MudIcon Icon="@Icons.Material.Filled.BookOnline" Size="Size.Small" Color="Color.Secondary" /> @e.eventTickets.Count Ticket(s)</div>
                                        <br />
                                        @if (e.paymentOptions.Count > 1)
                                        {
                                            var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                            <div>  <MudIcon Icon="@Icons.Material.Filled.Payments" Size="Size.Small" Color="Color.Secondary" /> @amount.ToString("C") </div>
                                        }
                                        else
                                        {
                                            var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                            <div> <MudIcon Icon="@Icons.Material.Filled.Payments" Size="Size.Small" Color="Color.Secondary" /> @amount.ToString("C") </div>
                                        }
                                    }

                                </div>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Size="Size.Small" Href="@ticketLink" Target="_blank" Color="Color.Primary"><b>Get Tickets</b></MudButton>
                            </MudCardActions>
                            <br />
                        </MudCard>

                        <br />
                    }
                }
            }


        </MudItem>

    </MudGrid>


    <br />

    <div style="background-color:white; padding:20px">
        
        <span id="discovery-title-mid">Discover every moment - Quick search</span>
        <br/><br/>

        <MudGrid>
            <MudItem xs="12" sm="12" md="7" lg="7" xl="7" xxl="7">
                <div>
                    <MudTextField T="string" Margin="Margin.Dense" @bind-Value="@eventNameString" Label="Enter an event name" Variant="Variant.Outlined"/>
                </div>
            </MudItem>
            <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                <MudSelect T="string" Label="Event Types*" Margin="Margin.Dense" HelperText="Select types" Variant="Variant.Outlined" @bind-Value="@eventTypeString" HelperTextOnFocus="true" Clearable="true">
                    @if (_eventTypes != null)
                    {
                        foreach (var com in _eventTypes)
                        {
                            <MudSelectItem Value="@(com.name)">@(com.name)</MudSelectItem>
                        }
                    }
                </MudSelect>
            </MudItem>

            <MudItem xs="6" sm="6" md="2" lg="2" xl="2" xxl="2">
                <MudButton StartIcon="@Icons.Material.Filled.Search" Class="mt-2" Variant="Variant.Filled" OnClick="SearchEvent" id="btnDarkColor-Search">
                    Search
                </MudButton>
            </MudItem>
        </MudGrid>
    </div>


    <br />

    @{
        var latestLink = $"/events/discover-events/{Helpers.DiscoverEventLatest}";
        var freeLink = $"/events/discover-events/{Helpers.DiscoverEventFree}";
        var paidLink = $"/events/discover-events/{Helpers.DiscoverEventPaid}";
    }


    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText id="discovery-text">Latest Events</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudLink Typo="Typo.caption" Href="@latestLink" Color="Color.Default"><b>See All</b></MudLink>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid Spacing="7">
                @if (_LatestEventProcessing)
                {
                    <MudItem xs="12" sm="12" md="12" lg="12">
                        <MudSkeleton Height="42px;" />
                        <MudSkeleton Height="42px;" />
                        <MudSkeleton Height="42px;" />
                    </MudItem>
                }
                else
                {
                    @if (_latestEvents.Any())
                    {
                        foreach (var e in _latestEvents)
                        {
                            var ticketLink = $"/events/get-tickets/{e._id}";

                            var eventName = e.eventName.Length > 15 ? e.eventName[..15] + " ..." : e.eventName;
                            var address = e.eventAddress.Length > 20 ? e.eventAddress[..20] + " ..." : e.eventAddress;

                            <MudItem xs="12" sm="12" md="6" lg="3" xl="3" xxl="2">
                                <div class="event-lisiting-web">
                                    <MudCard>
                                        <MudCardMedia Image="@e.eventImagePath" Height="200"/>
                                        <MudCardContent>

                                            <div style="line-height: 40px">
                                                <div style="color: #54385b; font-size: 20px; font-family:'Akaya Telivigala'"><b>@eventName</b></div>

                                                <span>@address</span>
                                                <br/>
                                                <span>
                                                    @if (e.eventTimes.Any())
                                                    {
                                                        @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy, hhtt")
                                                    }
                                                </span>
                                                <br/>

                                                <MudChip T="string" Size="Size.Small" Color="Color.Warning"><b>@e.eventOption</b></MudChip>

                                                @if (e.eventTimes.Any() && e.eventTimes.Count > 1)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTimes.Count Times</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTimes.Count Time</MudChip>
                                                }

                                                @if (e.eventTickets.Any() && e.eventTickets.Count > 1)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTickets.Count Tickets</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTickets.Count Ticket</MudChip>
                                                }
                                            </div>
                                        </MudCardContent>
                                        <MudCardActions Class="pa-5">
                                            @if (e.paymentOptions.Count > 1)
                                            {
                                                var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Dark"><b>@amount.ToString("C") +</b></MudText>
                                            }
                                            else
                                            {
                                                var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Dark"><b>@amount.ToString("C")</b></MudText>
                                            }
                                            <MudSpacer></MudSpacer>
                                            <MudButton Variant="Variant.Filled" Style="background-color: #55385c; color: white" OnClick="@(async () => await OpenDrawerWithEvent(Anchor.End, e._id))" Size="Size.Small" ><b>Get Tickets</b></MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </div>

                                <div class="event-lisiting-mobile">
                                    <MudGrid>
                                        <MudItem sm="5" xs="5">
                                            <MudCard>
                                                <MudCardMedia Image="@e.eventImagePath" Height="120"/>
                                            </MudCard>
                                        </MudItem>
                                        <MudItem sm="7" xs="7">
                                            <div style="line-height: 27px; padding: 5px">

                                                <div style="color: #54385b; font-family:'Akaya Telivigala'"><b>@eventName</b></div>
                                                <div >@address</div>
                                                
                                                <div style="font-size: small">
                                                    @if (e.eventTimes.Any())
                                                    {
                                                        @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy, hhtt")
                                                    }
                                                </div>
                                                
                                                <div style="margin-top: 10px">
                                                    <MudButton  Variant="Variant.Filled" Size="Size.Small" Href="@ticketLink" Style="font-size: small; background-color: #55385c; color: white" Target="_blank">Get Tickets</MudButton>
                                                </div>
                                               
                                            </div>
                                        </MudItem>
                                    </MudGrid>
                                </div>

                            </MudItem>
                        }
                    }
                    else
                    {
                        <MudItem xs="12" sm="12" md="12" lg="12">
                            <div style="text-align:center; padding: 20px">
                                <MudImage Src="images/backgrounds/no-data.png" Alt="No data image" Elevation="0" Height="50" Class="rounded-lg" />
                                <br />
                                <MudText Typo="Typo.body2">No new event yet!</MudText>
                                <br>
                                <MudText Typo="Typo.caption"> Once a new event is created, you will see them here.</MudText>
                            </div>
                        </MudItem>
                    }
                }
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <br /><br /><br />

    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText id="discovery-text">Free Events</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudLink Typo="Typo.caption" Href="@freeLink" Color="Color.Default"><b>See more</b></MudLink>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid Spacing="7">
                @if (_freeEventProcessing)
                {
                    <MudItem xs="12" sm="12" md="12" lg="12">
                        <MudSkeleton Height="42px;" />
                        <MudSkeleton Height="42px;" />
                        <MudSkeleton Height="42px;" />
                    </MudItem>
                }
                else
                {
                    @if (_freeEvent.Any())
                    {
                        foreach (var e in _freeEvent)
                        {
                            var ticketLink = $"/events/get-tickets/{e._id}";

                            var eventName = e.eventName.Length > 15 ? e.eventName[..15] + " ..." : e.eventName;
                            var address = e.eventAddress.Length > 15 ? e.eventAddress[..15] + " ..." : e.eventAddress;

                            <MudItem xs="12" sm="12" md="6" lg="3" xl="3" xxl="2">
                                <div class="event-lisiting-web">
                                    <MudCard>
                                        <MudCardMedia Image="@e.eventImagePath" Height="200"/>
                                        <MudCardContent>

                                            <div style="line-height: 40px">
                                                <div style="color: #54385b; font-size: 20px; font-family:'Akaya Telivigala'"><b>@eventName</b></div>

                                                <span>@address</span>
                                                <br/>
                                                <span>
                                                    @if (e.eventTimes.Any())
                                                    {
                                                        @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy, hhtt")
                                                    }
                                                </span>
                                                <br/>

                                                <MudChip T="string" Size="Size.Small" Color="Color.Warning"><b>@e.eventOption</b></MudChip>

                                                @if (e.eventTimes.Any() && e.eventTimes.Count > 1)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTimes.Count Times</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTimes.Count Time</MudChip>
                                                }

                                                @if (e.eventTickets.Any() && e.eventTickets.Count > 1)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTickets.Count Tickets</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTickets.Count Ticket</MudChip>
                                                }
                                            </div>
                                        </MudCardContent>
                                        <MudCardActions Class="pa-5">
                                            @if (e.paymentOptions.Count > 1)
                                            {
                                                var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Dark"><b>@amount.ToString("C") +</b></MudText>
                                            }
                                            else
                                            {
                                                var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Dark"><b>@amount.ToString("C")</b></MudText>
                                            }
                                            <MudSpacer></MudSpacer>
                                            <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="@(async () => await OpenDrawerWithEvent(Anchor.End, e._id))" Style="font-size: small; background-color: #55385c; color: white"><b>Get Tickets</b></MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </div>

                                <div class="event-lisiting-mobile">
                                    <MudGrid>
                                        <MudItem sm="5" xs="5">
                                            <MudCard>
                                                <MudCardMedia Image="@e.eventImagePath" Height="120"/>
                                            </MudCard>
                                        </MudItem>
                                        <MudItem sm="7" xs="7">
                                            <div style="line-height: 27px; padding: 5px">

                                                <div style="color: #54385b; font-family:'Akaya Telivigala'"><b>@eventName</b></div>
                                                <div >@address</div>

                                                <div style="font-size: small">
                                                    @if (e.eventTimes.Any())
                                                    {
                                                        @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy, hhtt")
                                                    }
                                                </div>

                                                <div style="margin-top: 10px">
                                                    <MudButton  Variant="Variant.Filled" Size="Size.Small" Href="@ticketLink" Style="font-size: small; background-color: #55385c; color: white" Target="_blank">Get Tickets</MudButton>
                                                </div>

                                            </div>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                            </MudItem>
                        }
                    }
                    else
                    {
                        <MudItem xs="12" sm="12" md="12" lg="12">
                            <div style="text-align:center; padding: 20px">
                                <MudImage Src="images/backgrounds/no-data.png" Alt="No data image" Elevation="0" Height="50" Class="rounded-lg" />
                                <br />
                                <MudText Typo="Typo.body2"> No free event yet!</MudText>
                                <br>
                                <MudText Typo="Typo.caption"> Once a free event is created, you will see them here.</MudText>
                            </div>
                        </MudItem>
                    }
                }
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <br /><br /><br />

    <MudCard Elevation="0">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText id="discovery-text"><b>Paid Events</b></MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudLink Typo="Typo.caption" Href="@paidLink" Color="Color.Default"><b>See more</b></MudLink>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid Spacing="7">
                @if (_paidEventProcessing)
                {
                    <MudItem xs="12" sm="12" md="12" lg="12">
                        <MudSkeleton Height="42px;" />
                        <MudSkeleton Height="42px;" />
                        <MudSkeleton Height="42px;" />
                    </MudItem>
                }
                else
                {
                    @if (_paidEvent.Any())
                    {
                        foreach (var e in _paidEvent)
                        {
                            var ticketLink = $"/events/get-tickets/{e._id}";

                            var eventName = e.eventName.Length > 15 ? e.eventName[..15] + " ..." : e.eventName;
                            var address = e.eventAddress.Length > 15 ? e.eventAddress[..15] + " ..." : e.eventAddress;

                            <MudItem xs="12" sm="12" md="6" lg="3" xl="3" xxl="2">

                                <div class="event-lisiting-web">
                                    <MudCard>
                                        <MudCardMedia Image="@e.eventImagePath" Height="200"/>
                                        <MudCardContent>

                                            <div style="line-height: 40px">
                                                <div style="color: #54385b; font-size: 20px; font-family:'Akaya Telivigala'"><b>@eventName</b></div>

                                                <span>@address</span>
                                                <br/>
                                                <span>
                                                    @if (e.eventTimes.Any())
                                                    {
                                                        @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy, hhtt")
                                                    }
                                                </span>
                                                <br/>

                                                <MudChip T="string" Size="Size.Small" Color="Color.Warning"><b>@e.eventOption</b></MudChip>

                                                @if (e.eventTimes.Any() && e.eventTimes.Count > 1)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTimes.Count Times</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTimes.Count Time</MudChip>
                                                }

                                                @if (e.eventTickets.Any() && e.eventTickets.Count > 1)
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTickets.Count Tickets</MudChip>
                                                }
                                                else
                                                {
                                                    <MudChip T="string" Size="Size.Small" Color="Color.Default">@e.eventTickets.Count Ticket</MudChip>
                                                }
                                            </div>
                                        </MudCardContent>
                                        <MudCardActions Class="pa-5">
                                            @if (e.paymentOptions.Count > 1)
                                            {
                                                var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Dark"><b>@amount.ToString("C") +</b></MudText>
                                            }
                                            else
                                            {
                                                var amount = e.eventTickets.FirstOrDefault().ticketAmount.numberDecimal;

                                                <MudText Typo="Typo.body2" Style="font-size:14px" Color="Color.Dark"><b>@amount.ToString("C")</b></MudText>
                                            }
                                            <MudSpacer></MudSpacer>
                                            <MudButton Variant="Variant.Filled" Style="color: white; background-color: #55385c; font-size: small" Size="Size.Small" OnClick="@(async () => await OpenDrawerWithEvent(Anchor.End, e._id))" ><b>Get Tickets</b></MudButton>
                                        </MudCardActions>
                                    </MudCard>
                                </div>


                                <div class="event-lisiting-mobile">
                                    <MudGrid>
                                        <MudItem sm="5" xs="5">
                                            <MudCard>
                                                <MudCardMedia Image="@e.eventImagePath" Height="120"/>
                                            </MudCard>
                                        </MudItem>
                                        <MudItem sm="7" xs="7">
                                            <div style="line-height: 27px; padding: 5px">

                                                <div style="color: #54385b; font-family:'Akaya Telivigala'"><b>@eventName</b></div>
                                                <div >@address</div>

                                                <div style="font-size: small">
                                                    @if (e.eventTimes.Any())
                                                    {
                                                        @Convert.ToDateTime(e.eventTimes[0].startDateAndTime).ToString("ddd, dd MMM, yyyy, hhtt")
                                                    }
                                                </div>

                                                <div style="margin-top: 10px">
                                                    <MudButton  Variant="Variant.Filled" Size="Size.Small" Href="@ticketLink" Style="font-size: small; background-color: #55385c; color: white" Target="_blank">Get Tickets</MudButton>
                                                </div>

                                            </div>
                                        </MudItem>
                                    </MudGrid>
                                </div>
                                
                            </MudItem>
                        }
                    }
                    else
                    {
                        <MudItem xs="12" sm="12" md="12" lg="12">
                            <div style="text-align:center; padding: 20px">
                                <MudImage Src="images/backgrounds/no-data.png" Alt="No data image" Elevation="0" Height="50" Class="rounded-lg" />
                                <br />
                                <MudText Typo="Typo.body2"> No paid event yet!</MudText>
                                <br>
                                <MudText Typo="Typo.caption"> Once a paid event is created, you will see them here.</MudText>
                            </div>
                        </MudItem>
                    }
                }
            </MudGrid>
        </MudCardContent>
    </MudCard>

    <div>
        <br />
        <br />
        <br />
        <br />
    </div>

</MudContainer>



<MudDrawer @bind-Open="@_open" Width="@_width" Height="@_height" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">

    @if (_getProcessing)
    {
        <MudDrawerHeader>
            <MudSkeleton Animation="Animation.Wave" Width="10%" />
            <MudSpacer></MudSpacer>
            <MudSkeleton Animation="Animation.Wave" Width="30%" />
            &nbsp;
            &nbsp;
            &nbsp;
            <MudSkeleton Animation="Animation.Wave" Width="30%" />
        </MudDrawerHeader>

        <MudDrawerContainer>

            <MudDivider DividerType="DividerType.FullWidth"></MudDivider>

            <MudContainer>
                <MudPaper Elevation="0">
                    <br/>
                    <div style="">

                        <div style="text-align: center">
                            <center>
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Animation="Animation.Wave" Height="350px" />
                            </center>
                        </div>

                        <br/>

                        <MudSkeleton Animation="Animation.Wave" Width="70%" />

                        <br/>

                        <MudGrid>

                            <MudItem sm="6" md="6" lg="6" xl="6" xxl="6">
                                <MudSkeleton Animation="Animation.Wave" Width="100%" />
                                <MudSkeleton Animation="Animation.Wave" Width="100%" />
                            </MudItem>

                            <MudItem sm="6" md="6" lg="6" xl="6" xxl="6">
                                <div>
                                    <MudSkeleton Animation="Animation.Wave" Width="100%" />
                                    <MudSkeleton Animation="Animation.Wave" Width="100%" />
                                </div>
                            </MudItem>

                        </MudGrid>

                        <br/><br/>

                        <MudSkeleton Animation="Animation.Wave" Width="100%" Height="70px"/>
                        <br/><br/><br/>

                        <MudSkeleton Animation="Animation.Wave" Width="20%" Height="50px"/>
                        <MudDivider Class="pa-2" DividerType="DividerType.FullWidth"></MudDivider>

                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />

                        <br/>

                        <MudSkeleton Animation="Animation.Wave" Width="20%" />
                        <MudDivider Class="pa-2" DividerType="DividerType.FullWidth"></MudDivider>

                    </div>

                </MudPaper>
            </MudContainer>
        </MudDrawerContainer>
    }
    else
    {
        if (_event != null)
        {
            var buyLink = $"/orders/buy-tickets/{_event._id}";
            var ticketLink = $"/events/get-tickets/{_event._id}";

            <MudDrawerHeader>
                <MudIconButton Icon="@Icons.Material.TwoTone.Close" OnClick="@(() => CloseDrawer())"></MudIconButton>
                <MudSpacer></MudSpacer>
                <MudButton Variant="Variant.Text" Color="Color.Dark" OnClick="@((e) => ActionShareEvent(_event.eventShortLink, _event.eventName))" Size="Size.Small" EndIcon="@Icons.Material.TwoTone.IosShare">
                    <MudText Typo="Typo.caption"><b>Share</b></MudText>
                </MudButton>
                &nbsp;
                &nbsp;
                &nbsp;
                <MudButton Variant="Variant.Text" Color="Color.Dark" Href="@ticketLink" Target="_blank" Size="Size.Small" EndIcon="@Icons.Material.TwoTone.ArrowOutward">
                    <MudText Typo="Typo.caption"><b>Event Page</b></MudText>
                </MudButton>
            </MudDrawerHeader>

            <MudDrawerContainer>

                <MudDivider DividerType="DividerType.FullWidth"></MudDivider>

                <MudContainer>
                    <MudPaper Elevation="0">

                        <br/>

                        <div style="">

                            <div style="text-align: center">
                                <MudImage Elevation="2" ObjectPosition="ObjectPosition.Center" Alt="@_event.eventImageName" Height="350" Width="350" Src="@_event.eventImagePath"></MudImage>

                                <br/><br/>

                                <MudChip T="string" Size="Size.Small" Color="Color.Default"><b>@_event.eventOption.ToUpper()</b></MudChip>
                                <MudChip T="string" Size="Size.Small" Color="Color.Default"><b>@_event.EventType.FirstOrDefault().name</b></MudChip>

                            </div>

                            <br/>

                            <div style="color: black; font-size: 30px; font-weight: 200; text-align: center; font-family:'Akaya Telivigala'">@_event.eventName</div>

                            <br/>

                            <MudGrid>

                                <MudItem sm="6" md="6" lg="6" xl="6" xxl="6">

                                    @if (_event.EventTime.Any() && _event.EventTime.Count > 1)
                                    {
                                        <MudNavLink Icon="@Icons.Material.TwoTone.DateRange" IconColor="Color.Dark">
                                            <span> @Convert.ToDateTime(_event.EventTime.FirstOrDefault()?.startDateAndTime).ToString("dd, MMMM yyyy")</span>;
                                            <span> @Convert.ToDateTime(_event.EventTime.FirstOrDefault()?.startDateAndTime).ToString("h:mm tt") and @_event.EventTime.Count() times</span>
                                        </MudNavLink>
                                    }
                                    else
                                    {
                                        <MudNavLink Icon="@Icons.Material.TwoTone.DateRange" IconColor="Color.Dark">
                                            <span> @Convert.ToDateTime(_event.EventTime.FirstOrDefault()?.startDateAndTime).ToString("dd, MMMM yyyy")</span>;
                                            <span> @Convert.ToDateTime(_event.EventTime.FirstOrDefault()?.startDateAndTime).ToString("h:mm tt")</span>
                                        </MudNavLink>
                                    }
                                </MudItem>

                                <MudItem sm="6" md="6" lg="6" xl="6" xxl="6">
                                    <div>
                                        <MudNavLink Icon="@Icons.Material.Filled.ReceiptLong" IconColor="Color.Dark">
                                            @_event.Tickets.Count Tickets
                                        </MudNavLink>
                                    </div>
                                </MudItem>

                            </MudGrid>

                            <br/><br/>

                            <MudButton FullWidth="true" Href="@buyLink" Style="background-color: #55385c; color: white; height: 50px" Variant="Variant.Filled"> <b>Buy Tickets</b> </MudButton>

                            <br/><br/><br/>

                            <MudText Typo="Typo.body1"><b>About Event</b></MudText>
                            <MudDivider Class="pa-2" DividerType="DividerType.FullWidth"></MudDivider>

                            <div style="line-height:35px; font-size:14px">
                                <div>@_event.eventDescription</div>
                            </div>

                            <br/>

                            <MudText Typo="Typo.body1"><b>Social Links</b></MudText>
                            <MudDivider Class="pa-2" DividerType="DividerType.FullWidth"></MudDivider>

                            <MudGrid>

                                @if (!string.IsNullOrWhiteSpace(_event.instagramLink))
                                {
                                    <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                        <div>
                                            Visit us on
                                            <MudElement HtmlTag="a" Class="ms-1" Style="color:hotpink;font-weight:bold;" href="@_event.instagramLink" target="blank" rel="noopener noreferrer">
                                                Instagram
                                            </MudElement>
                                        </div>
                                    </MudItem>
                                }

                                @if (!string.IsNullOrWhiteSpace(_event.facebookLink))
                                {
                                    <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                        <div>
                                            Visit us on
                                            <MudElement HtmlTag="a" Class="ms-1" Style="color:blue;font-weight:bold;" href="@_event.facebookLink" target="blank" rel="noopener noreferrer">
                                                FacebookLink
                                            </MudElement>
                                        </div>
                                        <br />
                                    </MudItem>
                                }

                                @if (!string.IsNullOrWhiteSpace(_event.twitterLink))
                                {
                                    <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                        <div>
                                            Visit us on
                                            <MudElement HtmlTag="a" Class="ms-1" Style="color:black;font-weight:bold;" href="@_event.twitterLink" target="blank" rel="noopener noreferrer">
                                                Twitter
                                            </MudElement>
                                        </div>
                                        <br />
                                    </MudItem>
                                }

                                @if (!string.IsNullOrWhiteSpace(_event.webLink))
                                {
                                    <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                        <div>
                                            Visit us on
                                            <MudElement HtmlTag="a" Class="ms-1" Style="color:lightsalmon;font-weight:bold;" href="@_event.webLink" target="blank" rel="noopener noreferrer">
                                                Web
                                            </MudElement>
                                        </div>
                                        <br />
                                    </MudItem>
                                }

                            </MudGrid>

                            <br/><br/><br/>

                            <MudSpacer></MudSpacer>

                            <MudButton Size="Size.Small" Style="font-weight: 500"> Contact the host</MudButton>
                            &nbsp;&nbsp;
                            <MudButton Size="Size.Small" Style="font-weight: 500"> Report Event</MudButton>

                            <br/><br/><br/>
                        </div>

                    </MudPaper>
                </MudContainer>
            </MudDrawerContainer>
        }
    }





</MudDrawer>



@code {
    [Inject] IEventService _eventService { get; set; }
    [Inject] ISnackbar? _snackbar { get; set; }
    [Inject] IConfiguration? _config { get; set; }
    [Inject] IEventTypeService _eventTypeService { get; set; }
    [Inject] NavigationManager? _navigate { get; set; }
    [Inject] IDialogService DialogService { get; set; }
    
    IEnumerable<GetEventTypesDto> _eventTypes = new List<GetEventTypesDto>();
    
    
    private bool _LatestEventProcessing { get; set; }
    private bool _freeEventProcessing { get; set; }
    private bool _paidEventProcessing { get; set; }
    private bool _getProcessing { get; set; }

    private string eventTypeString { get; set; }
    private string eventNameString { get; set; }

    private bool arrows = true;
    private bool bullets = false;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    private TimeSpan autoCycleTime = new TimeSpan(00, 00, 30);

    List<FetchEventDto> _freeEvent = new List<FetchEventDto>();
    List<FetchEventDto> _paidEvent = new List<FetchEventDto>();
    List<FetchEventDto> _latestEvents = new List<FetchEventDto>();

    Dictionary<string, string> freeQueryParameter = new Dictionary<string, string> { { "page", "0" }, { "limit", "0" } };
    Dictionary<string, string> paidQueryParameter = new Dictionary<string, string> { { "page", "0" }, { "limit", "0" } };
    Dictionary<string, string> latestQueryParameter = new Dictionary<string, string> { { "page", "0" }, { "limit", "0" } };
    
    private bool _open;
    private Anchor _anchor;
    private string _width, _height;
    
    GetEventDetailsDto _event = new();

    private async Task OpenDrawerWithEvent(Anchor anchor, string eventId)
    {
        _open = true;
        _anchor = anchor;
        switch (anchor)
        {
            case Anchor.End:
                _width = "35%";
                _height = "100%";
                break;
        }

        _getProcessing = true;
        var res = await _eventService.GetEventDetails(eventId);
        if (res.result.code == ResponseCodes.ResponseCodeOk)
        {
            _event = res.result.data;
        }
        else
        {
            _snackbar.Add(res.result.message, Severity.Error);
        }

        _getProcessing = false;
        StateHasChanged();
    }
    

    private void CloseDrawer()
    {
        _open = false;
    }
    
    private async Task ActionShareEvent(string link, string eventName)
    {
        DialogOptions opts = new DialogOptions()
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = true,
            CloseOnEscapeKey = true
        };

        var parameters = new DialogParameters<ShareEventDialog> { { x => x.eventLink, link }, { x => x.eventName, eventName } };
        var dialog = await DialogService.ShowAsync<ShareEventDialog>("Share event", parameters, opts);

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            StateHasChanged();
        }
    }


    protected async override void OnInitialized()
    {
        _event = null;
        var limit = _config.GetValue<string>("Pagination:DiscoveryLoadMoreLimit") ?? "4";
        var page = _config.GetValue<string>("Pagination:DiscoveryLoadMorePage") ?? "0";

        var res = await _eventTypeService.GetEventTypes();
        _eventTypes = res.result.data ?? new List<GetEventTypesDto>();
       // StateHasChanged();

        _LatestEventProcessing = true;
        _freeEventProcessing = true;
        _paidEventProcessing = true;

        latestQueryParameter["limit"] = limit;
        latestQueryParameter["page"] = page;
        _latestEvents = await GetFetchData(Helpers.GetOptionsLatest, latestQueryParameter);
        _LatestEventProcessing = false;
       // StateHasChanged();

        freeQueryParameter["limit"] = limit;
        freeQueryParameter["page"] = page;
        freeQueryParameter["paymentOptionName"] = Helpers.FreeEvents;
        _freeEvent = await GetFetchData(string.Empty, freeQueryParameter);
        _freeEventProcessing = false;
      //  StateHasChanged();

        paidQueryParameter["limit"] = limit;
        paidQueryParameter["page"] = page;
        paidQueryParameter["paymentOptionName"] = Helpers.PaidEvents;
        _paidEvent = await GetFetchData(string.Empty, paidQueryParameter);
        _paidEventProcessing = false;
        
        StateHasChanged();

    }


    private async Task<List<FetchEventDto>> GetFetchData(string getOptions, Dictionary<string, string> queryParameter)
    {
        HashSet<string> seenKeys = new HashSet<string>();
        List<FetchEventDto> _event = new List<FetchEventDto>();

        var res = await _eventService.FetchEvent(queryParameter);
        if (res.result.code != ResponseCodes.ResponseCodeOk)
        {
            _snackbar.Add(res.result.message, Severity.Error);
            return new List<FetchEventDto>();
        }

        var data = (List<FetchEventDto>)res.result.data;
        _event.AddRange(data.Where(e => seenKeys.Add(e._id)));

        if (!_event.Any()) return _event;

        if (getOptions == Helpers.GetOptionsLatest) return _event;

            foreach (var x in _event)
            {
                var freePaymentOptionIds = x.paymentOptions
                    .Where(po => po.name == queryParameter["paymentOptionName"])
                    .Select(po => po.paymentOptionId)
                    .ToList();

                // Remove free tickets from the eventTickets list
                x.eventTickets = x.eventTickets.Where(et => freePaymentOptionIds.Contains(et.paymentOptionId)).ToList();
                x.paymentOptions = x.paymentOptions.Where(c => freePaymentOptionIds.Contains(c.paymentOptionId)).ToList();
            }
        return _event;
    }


    private void SearchEvent()
    {
        var url = String.Empty;

        if (string.IsNullOrEmpty(eventNameString) && string.IsNullOrEmpty(eventTypeString))
            return;

        if (!string.IsNullOrEmpty(eventNameString))
            url = $"/events/discover-events/{Helpers.DiscoverEventSearch}/Name={eventNameString}";
        
        if (!string.IsNullOrEmpty(eventTypeString))
            url = $"/events/discover-events/{Helpers.DiscoverEventSearch}/Type={eventTypeString}";
        
        if (!string.IsNullOrEmpty(eventTypeString) && !string.IsNullOrEmpty(eventNameString))
            url = $"/events/discover-events/{Helpers.DiscoverEventSearch}/Combine={eventTypeString}|{eventNameString}";

        _navigate.NavigateTo(url, true);
    }

}


