@page "/events/get-tickets/{id}";
@page "/ivs/{id}";

<PageTitle>Iv's - Get Your Tickets</PageTitle>

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large" Style="background-color:white">

    @if (_getEventprocessing)
    {
        <MudSkeleton Height="42px;" />
        <MudSkeleton Height="42px;" />
        <MudSkeleton Height="42px;" />
    }
    else
    {
        var buyLink = $"/orders/buy-tickets/{id}";

            <br /><br />

            @if (_events != null)
            {
            <MudGrid Spacing="8">

                <MudItem xs="12" sm="12" md="12" lg="8" xl="8" xxl="8">

                    <MudPaper Elevation="0">

                        <div>
                            <span id="event-title">@_events.eventName</span>
                            <br /><br />
                            <div>
                                <MudChip T="string" Size="Size.Small" Color="Color.Secondary"><b>@_events.eventOption.ToUpper()</b></MudChip>
                                <MudChip T="string" Size="Size.Small" Color="Color.Warning"><b>@_events.EventType.FirstOrDefault().name</b></MudChip>

                                <MudChip T="string" Size="Size.Small" Color="Color.Dark" OnClick="@((e) => ActionShareEvent(_events.eventShortLink))" Icon="@Icons.Material.Filled.Share">
                                    <b> Share</b>
                                </MudChip>
                            </div>
                        </div>

                        <br /> <br/>

                        <MudText Typo="Typo.h6"><b>About this event</b></MudText>
                        <br/>
                        <div style="line-height:35px; font-size:14px">
                            <div>@_events.eventDescription</div>
                        </div>

                        <br /><br/>

                        <div>

                            <MudText Typo="Typo.h6"><b>Location</b></MudText>

                            <br />

                            <div> @_events.eventAddress</div>
                            <div> @_events.eventState</div>
                          
                            @if (!string.IsNullOrEmpty(_events.adressPin))
                            {
                            <MudButton Href="@_events.adressPin"
                                       Target="_blank"
                                       Variant="Variant.Outlined"
                                       EndIcon="@Icons.Material.Filled.LocationOn"
                                       Color="Color.Secondary"
                                       Style="text-transform:none">
                                Google address pin link
                            </MudButton>
                            <br />
                            }
                           
                        </div>

                        <br/><br/>
                        <MudText Typo="Typo.h6"> <b>Date and time</b></MudText>

                        <br />

                        <div>
                            @foreach (var t in _events.EventTime)
                            {
                                <MudText Typo="Typo.body2">  <b>@Convert.ToDateTime(t.startDateAndTime).ToString("dddd, dd MMMM yyyy, HH:mm tt")</b> </MudText>
                                <br />
                            }
                        </div>
                        
                        <br/>

                        <div style="">
                            <MudText Typo="Typo.h6"><b>QR Code</b> &nbsp; </MudText>

                            <br />
                            <MudImage Src="@_events.qrCodeLink"></MudImage>
                            <br />
                           
                        </div>

                        <br />
                          

                        <br />

                        <div>
                            <MudText Typo="Typo.h6"><b>Social Links</b></MudText>

                            <br />

                            <div>

                                <MudGrid>

                                    @if (!string.IsNullOrWhiteSpace(_events.instagramLink))
                                    {
                                        <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                            <div>
                                                Visit us on
                                                <MudElement HtmlTag="a" Class="ms-1" Style="color:hotpink;font-weight:bold;" href="@_events.instagramLink" target="blank" rel="noopener noreferrer">
                                                    Instagram
                                                </MudElement>
                                            </div>
                                        </MudItem>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(_events.facebookLink))
                                    {
                                        <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                            <div>
                                                Visit us on
                                                <MudElement HtmlTag="a" Class="ms-1" Style="color:blue;font-weight:bold;" href="@_events.facebookLink" target="blank" rel="noopener noreferrer">
                                                    FacebookLink
                                                </MudElement>
                                            </div>
                                            <br />
                                        </MudItem>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(_events.twitterLink))
                                    {
                                        <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                            <div>
                                                Visit us on
                                                <MudElement HtmlTag="a" Class="ms-1" Style="color:black;font-weight:bold;" href="@_events.twitterLink" target="blank" rel="noopener noreferrer">
                                                    Twitter
                                                </MudElement>
                                            </div>
                                            <br />
                                        </MudItem>
                                    }

                                    @if (!string.IsNullOrWhiteSpace(_events.webLink))
                                    {
                                        <MudItem xs="6" sm="6" md="3" lg="3" xl="3" xxl="3">
                                            <div>
                                                Visit us on
                                                <MudElement HtmlTag="a" Class="ms-1" Style="color:lightsalmon;font-weight:bold;" href="@_events.webLink" target="blank" rel="noopener noreferrer">
                                                    Web
                                                </MudElement>
                                            </div>
                                            <br />
                                        </MudItem>
                                    }

                                </MudGrid>


                            </div>

                        </div>


                    </MudPaper>
                    
                </MudItem>

                <MudItem xs="12" sm="12" md="12" lg="4" xl="4" xxl="4">
                    <div class="sticky-header">
                        <MudPaper Elevation="0" Style="text-align: center">

                            <div>
                                <MudImage Fluid="true" Src="@_events.eventImagePath" Height="400" Width="400" />
                            </div>
                            <br/>
                            <MudButton Variant="Variant.Filled" FullWidth="true" Style="background-color: #56375C; height: 60px; color: white" Href="@buyLink" Size="Size.Large">
                                <MudText><b>Buy Tickets</b></MudText>
                            </MudButton>

                        </MudPaper>
                    </div>
                </MudItem>
            </MudGrid>

            }
    }

</MudContainer>



@code {
    [Parameter] public string? id { get; set; }
    [Inject] IEventService _eventService { get; set; }
    [Inject] NavigationManager? _navigate { get; set; }
    [Inject] ISnackbar? _snackbar { get; set; }
    [Inject] IDialogService DialogService { get; set; }

    GetEventDetailsDto _events = new();
    
    private string eventName { get; set; }

    private bool _getEventprocessing { get; set; }


    protected async override void OnInitialized()
    {
        _getEventprocessing = true;
        var res = await _eventService.GetEventDetails(id);
        if (res.result.code == ResponseCodes.ResponseCodeOk)
        {
            _events = res.result.data;
            eventName = _events.eventName;
        }
        else
        {
            _snackbar.Add(res.result.message, Severity.Error);
        }

        _getEventprocessing = false;
        StateHasChanged();
    }


    private async Task ActionShareEvent(string link)
    {
        DialogOptions opts = new DialogOptions()
        {
            MaxWidth = MaxWidth.Large,
            FullWidth = true,
            CloseButton = true,
            CloseOnEscapeKey = true
        };

        var parameters = new DialogParameters<ShareEventDialog> { { x => x.eventLink, link }, { x => x.eventName, eventName } };
        var dialog = await DialogService.ShowAsync<ShareEventDialog>("Share event", parameters, opts);

        var result = await dialog.Result;
        if (!result.Canceled)
        {
            StateHasChanged();
        }
    }
}
