@inherits LayoutComponentBase

<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider Theme="MuudstrapTheme" />
<MudPopoverProvider />

<style>
  .mud-expand-panel, .muudstrap-navbar-expand{
     color: var(--mud-palette-appbar-text);
     background-color: var(--mud-palette-appbar-background);
  }
 .muudstrap-navbar .mud-button{
    text-transform: none;
 }
 .muudstrap-navbar .mud-expand-panel-header{
    padding:0px;
    width: 100%;
    height: 100%;
    flex:none;
 }

 
</style>

<MudLayout Style="background-color:white">
   
    <MudAppBar Fixed="true"  Elevation="0" Style="padding:12px" Dense="true" DisableGutters="true" Class="muudstrap-navbar">
        
        <AuthorizeView>
             <Authorized>
                <MudIconButton Icon="@Icons.Material.Filled.Notes" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            </Authorized>
        </AuthorizeView>


        <div class="d-none d-md-flex align-center px-12" style="width:100%">
           
            <AuthorizeView>
                <NotAuthorized>
                    <MudImage Src="/images/logos/ivs3.png" Alt="Ivs Logo" Elevation="0" Height="44" Class=" text-center" />
                    <div id="logoTitle" class="ml-1"><a href="/home">ivs</a></div>
                </NotAuthorized>
            </AuthorizeView>
           
            <MudSpacer  />
            <MudButton Color="Color.Inherit" Href="/home" Class="ma-5" Style="font-weight:bold;">Home</MudButton>
            <MudButton Color="Color.Inherit" Href="/events/discovery" Class="ma-5" Style="font-weight:bold;">Discovery</MudButton>
            <MudMenu Color="Color.Inherit" Class="ma-5" Label="Us" Style="font-weight:bold;" EndIcon="@Icons.Material.Filled.ArrowDropDown" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
            <MudMenuItem Href="/action">About us</MudMenuItem>
            <MudMenuItem Href="/another-action">Contact us</MudMenuItem>
            <MudMenuItem Href="/something-else-here">FAQ</MudMenuItem>
        </MudMenu>

        <MudSpacer />
            <AuthorizeView>
                <NotAuthorized>
                    <MudButton Variant="Variant.Text" Href="/accounts/login" Style="font-weight:700; color:#D2654C" Class="ma-5">Login</MudButton>
                    <MudButton Variant="Variant.Text" Href="/accounts/signup" Style="font-weight:700;" Class="ma-3">Sign up</MudButton>
                </NotAuthorized>
                <Authorized>
                    <MudButton Variant="Variant.Text" OnClick="ActionLogOut" Style="font-weight:700; color:#D2654C" Class="ma-3">Log out</MudButton>
                </Authorized>
            </AuthorizeView>

    </div>

     <AuthorizeView>
            <NotAuthorized>
                <div class="d-flex d-md-none relative mud-width-full mud-height-full">
                <MudExpansionPanels Square="true"  Elevation="0" Class="absolute mud-width-full mud-height-full" Style="top:0px;left:0; background-color:Inherit;">
                        <MudExpansionPanel HideIcon="true" IsExpanded="@_isExpanded"  Class="mud-width-full mud-height-full">
                        <TitleContent>
                            <div class="d-flex justify-space-between mud-width-full align-center">

                                        <div class="d-flex align-center">
                                            <MudImage Src="/images/logos/ivs3.png" Alt="Ivs Logo" Elevation="0" Height="44" Class=" text-center" />
                                        <a href="/"> <div id="logoTitle" class="ml-1">ivs</div> </a>
                                        </div>

                                    <MudIconButton Icon="@Icons.Material.Filled.Notes" Color="Color.Dark" Edge="Edge.Start" OnClick="@((e) => UnAuthorizedDrawerToggle())" />

                            </div>
                        </TitleContent>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </div>
            </NotAuthorized>

        <Authorized>
               <div class="d-flex d-md-none relative mud-width-full mud-height-full">
                <div class="d-flex align-center">
                    <MudImage Src="/images/logos/ivs3.png" Alt="Ivs Logo" Elevation="0" Height="44" Class=" text-center" />
                    <a href="/"> <div id="logoTitle" class="ml-1">ivs</div> </a>
                </div>
                </div>
        </Authorized>
    </AuthorizeView>
</MudAppBar>

    <AuthorizeView>
        <Authorized>
            <MudDrawer @bind-Open="_drawerOpen" Elevation="1" Style="margin-top:-21px">
                <MudDrawerHeader Style="background-color: #F3DFF6; height:73px" Class="" Dense="true">

                    <MudImage Src="/images/logos/ivs3.png" Alt="Ivs Logo" Elevation="0" Height="44" Class=" text-center" />
                    <div id="logoTitle"><a href="/">ivs</a></div>

                </MudDrawerHeader>
                <NavMenu />
            </MudDrawer>
        </Authorized>


        <NotAuthorized>
            <MudDrawer @bind-Open="_UnAuthorizedDrawerOpen" Elevation="1" Style="margin-top:-21px">
                <MudDrawerHeader Style="background-color: #F3DFF6; height:73px" Class="" Dense="false">
                    <MudImage Src="/images/logos/ivs3.png" Alt="Ivs Logo" Elevation="0" Height="44" Class="" />
                    <div id="logoTitle"><a href="/">ivs</a></div>

                </MudDrawerHeader>
                <NavMenu />
            </MudDrawer>
        </NotAuthorized>

    </AuthorizeView>



     <AuthorizeView>
        <Authorized>
            <MudMainContent Class="" Style="background-color:white">
                    @Body
                <br /><br /><br />
            </MudMainContent>
        </Authorized>

        <NotAuthorized>
            <MudMainContent Class="" >
                <MudContainer>
                    @Body
                    <br /><br /><br />
                </MudContainer>
            </MudMainContent>
        </NotAuthorized>
    </AuthorizeView>
</MudLayout>

@code {

    [Inject] NavigationManager? _navigate { get; set; }
    [Inject] ILocalStorageService _localStorageService { get; set; }
    [Inject] AuthenticationStateProvider _authStateProvider { get; set; }

    private bool _drawerOpen = true;
    private bool _UnAuthorizedDrawerOpen = false;
    private bool _isExpanded = false;



    protected async override void OnInitialized()
    {
        
    }

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    private void UnAuthorizedDrawerToggle()
    {
        _UnAuthorizedDrawerOpen = !_UnAuthorizedDrawerOpen;
    }

    private async Task ActionLogOut()
    {
        await _localStorageService.ClearAsync();
        await _authStateProvider.GetAuthenticationStateAsync();
        _navigate.NavigateTo("/", true);
    }


    MudTheme MuudstrapTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                AppbarBackground = "#F3DFF6",
                AppbarText = "#181819"
            },
            Typography = new Typography()
            {
                H6 = new H6()
                {
                    FontFamily = new[] { "system-ui", "-apple-system", "Segoe UI", "Roboto ", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" },
                    FontSize = "1.25rem",
                    FontWeight = 400,
                    LineHeight = 1.7,
                    LetterSpacing = "normal"
                },
                Button = new Button()
                {
                    FontFamily = new[] { "system-ui", "-apple-system", "Segoe UI", "Roboto ", "Helvetica Neue", "Arial", "Noto Sans", "Liberation Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" },
                    FontSize = "1rem",
                    FontWeight = 400,
                    LineHeight = 1.5,
                    LetterSpacing = "normal"
                }
            }
        };
}