@page "/payment-processing"

<title>IV's Payment Processing</title>

<div id="site-intro">
    <br />
    <MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

        <span id="site-intro-header">Seamless & Secure Payments for Your Events </span>
        <br /><br />
        <div>
            <div id="site-intro-sub-header"> Whether you're hosting a small gathering or a large-scale event, we ensure a smooth checkout experience for attendees while providing event organizers with instant access to their earnings. </div>
        </div>
        <br /><br />
        <MudButton Variant="Variant.Filled" FullWidth="false" Size="Size.Large" Color="Color.Error" Href="/accounts/signup"><b>Get Started</b></MudButton>

    </MudContainer>
</div>


<br/><br/><br/><br/><br/>

<MudContainer Fixed="false" MaxWidth="MaxWidth.Large">

    <MudGrid Spacing="5">

        <MudItem sm="12" lg="4">
            <MudPaper Style="padding: 20px; border: 1px darkgray solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.GppGood" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h5" Style="font-family: 'Akaya Telivigala'; font-weight: 300; color: #55385c">Fast & Automated Transactions</MudText>
                <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                    Automated processing reduces manual intervention, ensures real-time payment verification, and speeds up ticket issuance.
                </div>
            </MudPaper>
        </MudItem>

        <MudItem sm="12" lg="4">
            <MudPaper Style="padding: 20px; border: 1px darkgray solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.Sell" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h5" Style="font-family: 'Akaya Telivigala'; font-weight: 300; color: #55385c">Seamless Ticket Purchases</MudText>
                <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                    A reliable payment system allows attendees to purchase event tickets quickly and conveniently, offering multiple payment methods.
                </div>
            </MudPaper>
        </MudItem>

        <MudItem sm="12" lg="4">
            <MudPaper Style="padding: 20px; border: 1px darkgray solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.Security" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h5" Style="font-family: 'Akaya Telivigala'; font-weight: 300; color: #55385c">Security & Fraud Prevention</MudText>
                <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                    Secure payment gateways with encryption and fraud detection mechanisms protect user transactions and prevent unauthorized access.</div>
            </MudPaper>
        </MudItem>



        <MudItem sm="12" lg="4">
            <MudPaper Style="padding: 20px; border: 1px darkgray solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.ContactMail" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h5" Style="font-family: 'Akaya Telivigala'; font-weight: 300; color: #55385c">Instant Ticket Confirmation</MudText>
                <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                    Attendees receive real-time confirmation via email and can access their e-tickets immediately after successful payment.
                </div>
            </MudPaper>
        </MudItem>

        <MudItem sm="12" lg="4">
            <MudPaper Style="padding: 20px; border: 1px darkgray solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.CallReceived" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h5" Style="font-family: 'Akaya Telivigala'; font-weight: 300; color: #55385c">Fast & Flexible Payouts</MudText>
                <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                    Access your revenue quickly with our automated payout, which supports daily, weekly, or on-demand withdrawals to your preferred account.
                </div>
            </MudPaper>
        </MudItem>

        <MudItem sm="12" lg="4">
            <MudPaper Style="padding: 20px; border: 1px darkgray solid;" Elevation="0">
                <MudIcon Icon="@Icons.Material.TwoTone.Lock" Color="Color.Dark" Size="Size.Large"></MudIcon>
                <MudText Typo="Typo.h5" Style="font-family: 'Akaya Telivigala'; font-weight: 300; color: #55385c">Secure & Encrypted Transactions</MudText>
                <div style="text-align: left; font-size: 1rem; font-family: 'General Sans'; line-height: 35px;">
                    Security is our top priority. Our payment system is PCI DSS compliant, ensuring end-to-end encryption for all transactions.</div>
            </MudPaper>
        </MudItem>



    </MudGrid>
    
</MudContainer>
    





<br />
<br />
<br />
<br />
<br />


<Footer />



@code {

}
