@page "/accounts/signup"

<PageTitle>Iv's - Sign up</PageTitle>



<MudContainer>

    <br /><br />

   <center>
        <MudPaper Elevation="0" Outlined="false" MaxWidth="650px" Square="false" Class="ma-2">
            <div style="text-align:left">

                <div id="reg-title">Hey there! Tell us about yourself.</div>
                <br />
                <div id="reg-sub-title">Already have an account? <MudLink Color="Color.Warning" style="font-weight: bolder; text-decoration: none" Href="/accounts/login">Login</MudLink></div>

               <br />

                <EditForm Model="@model" OnValidSubmit="ActionRegister">
                    <DataAnnotationsValidator />
                    
                    <MudTextField Label="Fullname" HelperText="Enter your fullname" Margin="Margin.Dense" @bind-Value="model.fullname" For="@(() => model.fullname)" Variant="Variant.Outlined"  HelperTextOnFocus="true" Clearable="true" />
                    <div class="sign-up-form-div-space"></div>
                    <MudTextField InputType="InputType.Email" Label="Email" Margin="Margin.Dense" HelperText="Enter your email" @bind-Value="model.email" For="@(() => model.email)" Variant="Variant.Outlined" HelperTextOnFocus="true" Clearable="true" />
                    <div class="sign-up-form-div-space"></div>
                    <MudTextField InputType="@PasswordInput" Label="Password" Margin="Margin.Dense" HelperText="Enter your password" @bind-Value="model.password" For="@(() => model.password)" Variant="Variant.Outlined" HelperTextOnFocus="true" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtoShowPasswordClick" AdornmentAriaLabel="Show Password" />
                    <div class="sign-up-form-div-space"></div>
                    <MudTextField InputType="@PasswordInput" Label="Confirm Password" Margin="Margin.Dense" HelperText="Confirm your password" @bind-Value="model.ConfirmPassword" For="@(() => model.ConfirmPassword)" Variant="Variant.Outlined" HelperTextOnFocus="true" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ButtoShowPasswordClick" AdornmentAriaLabel="Show Password" />
                    <div class="sign-up-form-div-space"></div>
                    <MudSelect T="string" Label="Organisation Type" Margin="Margin.Dense" Variant="Variant.Outlined" @bind-Value="model.organisation_id" For="@(() => model.organisation_id)">
                        @if (_orgs != null)
                        {
                            foreach (var com in _orgs)
                            {
                                <MudSelectItem Value="@(com._id.ToString())"> @(com.name)</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <br />
                    <MudCheckBox T="bool" @bind-Value="model.hasAgreed" Size="Size.Small" Required="true" For="@(() => model.hasAgreed)" RequiredError="You must agree" Label="Agree to terms and conditions!" />


                    <MudButton ButtonType="ButtonType.Submit" FullWidth="true" Disabled="@_processing" Style="height:50px; background:#e18501f7" Variant="Variant.Filled" Color="Color.Primary" Class="mt-5">
                        @if (_processing)
                        {
                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                            <MudText Class="ms-2">Processing</MudText>
                        }
                        else
                        {
                            <MudText><b>Register</b></MudText>
                        }
                    </MudButton>
                </EditForm>

            </div>
        </MudPaper>
   </center>
</MudContainer>

@code {

    [Inject] IOrganizationService? _organisationService { get; set; }
    [Inject] IAccountService? _accountService { get; set; }
    [Inject] ISnackbar? _snackbar { get; set; }
    [Inject] ISessionStorageService _sessionStorageService { get; set; }
    [Inject] ILocalStorageService _localStorageService { get; set; }
    [Inject] NavigationManager? _navigate { get; set; }
    [SupplyParameterFromForm] public SignUpVM? model { get; set; }

    bool isShow;
    private bool _processing = false;
    IEnumerable<GetOrganisationsDto> _orgs = new List<GetOrganisationsDto>();
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;


    protected async override void OnInitialized()
    {
        model = new SignUpVM();

        var checkSession = await _localStorageService.GetItemAsync<string>(Tokens.TokenName);
        if (!string.IsNullOrEmpty(checkSession))
        {
            _navigate.NavigateTo("/");
        }
        else
        {
            var res = await _organisationService.GetOrganizations();
            _orgs = res.result.data ?? new List<GetOrganisationsDto>();
        }
    }


    private async Task ActionRegister()                          
    {
        _processing = true;
        var res = await _accountService.CreateUser(model);
        if ((res.result.code == ResponseCodes.ResponseCodeCreated || res.result.code == ResponseCodes.ResponseCodeOk))
        {
            _snackbar.Add(res.result.message, Severity.Success);
            _navigate.NavigateTo($"/accounts/activate-account/{res.result.data}");
        }
        else
        {
            _snackbar.Add(res.result.message, Severity.Error);
        }
        _processing = false;
        StateHasChanged();
    }


    void ButtoShowPasswordClick()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
